APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:TzvqPdxXV1KZDZc96O9RjtlegonqPznO7E9+CzkrM5s=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=mailgun
MAIL_HOST=smtp.mailgun.org
MAIL_PORT=587
MAIL_USERNAME=postmaster@sandbox67d8d6952964408fb466c1bb7549dd73.mailgun.org
MAIL_PASSWORD=7e7c71777fa1b917e93ab16562f3837d-d1a07e51-3523e375
MAIL_ENCRYPTION=SSL
MAIL_FROM_ADDRESS="Koniz@awsome.talent"
MAIL_FROM_NAME="${APP_NAME}"
MAILGUN_DOMAIN=sandbox1b0b6c203ee446178d79ac2bf92c0213.mailgun.org
MAILGUN_SECRET=53c65413085a9c2f4bd0165cc3b32ae4-90346a2d-f6713c21

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

JWT_SECRET=NDeqoZce4qYb6G2TPuglfWHq8LJsqaKFyVk1dliqae6a4vthYCs4JnLymrhBPP2K

MOCKY_KEY=8eb88272-d769-417c-8c5c-159bb023ec0a

